.main{
  height: 700px;
  background-color: white;
}

.content{
  height: 700px;
  width: fill ;
  background-color: wheat;
  border-radius: 25px;
  border: 5px solid white;
  font-family: Georgia;
}

.topbar{
 height: 100px;
 background-color: black;
 border-radius: 25px;
 border: 5px solid white;
}




.main ul {
  display: flex;
  overflow-x: auto;
 
  padding: 0;
  margin: 5px;
}

.main ul li {
  list-style: none;
  margin-right: 40px;
  margin-top: 30px;
}

.main ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  white-space: nowrap;
}

.main ul li a:hover{
  color: cyan;
}

.content iframe{
  border-radius: 20px;
  margin-top: 20px;
  height: 300px;
  width: 400px
;
}

